.body-popup {
    overflow: hidden;
}
.popup {
    width:100%; 
    height:100%; 
    display:none; 
    position:absolute; 
    top:0px; 
    left:0px; 
    background:rgba(0,0,0,0.75); 
    text-align: center; 
    z-index:1000000;
}
.popup:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.popup-me {
    display: none;
}
.popup .popup-me {
    display: block;
}
.popup-inner {
    position:relative; 
    display: inline-block;
    vertical-align: middle;
    max-width:700px; 
    width:90%; 
    padding:40px; 
    box-shadow:0px 2px 6px rgba(0,0,0,1); 
    border-radius:3px;   
    background:#fff; 
    text-align: left;
    animation-fill-mode: both;
}
.popup-close {
    width:30px; 
    height:30px; 
    padding-top:4px; 
    display:inline-block; 
    position:absolute; 
    top: 15px; 
    right: 15px; 
    font-family:Arial, Sans-Serif; 
    font-size:18px; 
    text-align:center; 
    line-height:100%; 
    text-decoration:none; 
    color:#000; 
}
.popup-close:hover {
    text-decoration:none; 
    font-weight: bold;
}


@-webkit-keyframes scale {
  0%, 80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  45% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: .7; } }
@keyframes scale {
  0%, 80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  45% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: .7; } }

@keyframes scale {
  30% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

  
  
  .popup .loader {
    text-align: center;
    position:relative; 
    display: none;
    vertical-align: middle;
  }
  .popup .ball-pulse div {
    background-color: #fff;
    margin: 2px;
    display: inline-block;
    width: 20px;
    height: 20px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
    .popup .ball-pulse div:nth-child(1) {
      -webkit-animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
      animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }
    .popup .ball-pulse div:nth-child(2) {
      -webkit-animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
      animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }
    .popup .ball-pulse div:nth-child(3) {
      -webkit-animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
      animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }